.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#canvas {
  width: 600px;
  height: 400px;
  margin: auto;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  }


#player {
  background-color: blue;
  width: 40px;
  height: 60px;
  top: 10px;
  left: 10px;
  position: absolute;
}

.enemy {
  background-color: red;
  width: 40px;
  height: 60px;
  position: absolute;
}

.obstacle {
  background-color: gray;
  position: absolute;
}

#goal {
  background-color: green;
  width: 20px;
  height: 60px;
  top: 300px;
  left: 590px;
  position: absolute;
}

.gameOver{
  position: absolute;
  border-radius: 5px;
  border:1px solid black;
  top: 100px;
  left: 100px;
  width: 400px;
  height: 200px;
  background-color: aqua;
  display: none;
  z-index: 1;
}

.nextLevel{
  position: absolute;
  border-radius: 5px;
  border:1px solid black;
  top: 100px;
  left: 100px;
  width: 400px;
  height: 200px;
  background-color: rgb(0, 255, 21);
  display: none;
  z-index: 1;
}