.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

#canvas {
  width: 600px;
  height: 400px;
  margin: auto;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  }


#player {
  background-color: blue;
  width: 40px;
  height: 60px;
  top: 10px;
  left: 10px;
  position: absolute;
}

#enemy {
  background-color: red;
  width: 40px;
  height: 60px;
  top: 100px;
  left: 100px;
  position: absolute;
}